<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <!--<link rel="stylesheet" href="/css/main.css">-->
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <link rel="stylesheet" href="/stylesheets/pygment_trac.css">

    </head>
    <body>

    <div class="wrapper">
      <header>
        <h1>{{ site.name }}</h1>
        <p></p>

        <p class="view">My name is Matt, and I am an alien</p>
        <p class="view"><a href="http://neuroblob.me">davisml.com is now neuroblob.me</a></p>
        <p class="view"><a href="https://github.com/matthewadavis">View My GitHub Profile</a></p>

      </header>
      <section>
          <h3>
          <a name="welcome-to-davisml" class="anchor" href="#welcome-to-davisml"><span class="octicon octicon-link"></span></a>Welcome to davisml.</h3>
          <p>In case you were wondering, davisml.com has moved to <a href="http://neuroblob.me/">http://neuroblob.me/</a> This individual site will be known as davisml.com, while In the mind of M&L has moved to neuroblob.me</p>
          {{ content }}
          <h3>
          <a name="contact" class="anchor" href="#contact"><span class="octicon octicon-link"></span></a>Contact</h3>
          <p>If you have any questions about davisml.com, please feel free to contact <a href="mailto:matt@davisml.com">matt@davisml.com</a></p>
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
          
        </div>

    </body>
</html>
